.FaceDetectorWrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 80%;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.Rank {
  border-bottom: 5px solid #bdbbbb87;
  margin-bottom: 30px;
  text-align: center;
}

.RankDetails {
  font-size: 1.3rem;
  font-weight: 600;
}

.RankScore {
  font-size: 2.5rem;
  font-weight: 700;
  color: #5d0651;
  margin: 10px auto;
}

.ImageLinkForm {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40vw;
  margin: 0 auto;

  input {
    padding: 15px;
    outline: 0;
    border: 0;
    width: 75%;
    border-radius: 5px 0 0 5px;
  }

  button {
    width: 100%;
    padding: 15px;
    background-color: rgb(2, 17, 31);
    color: rgb(250, 246, 246);
    border-radius: 0 5px 5px 0;
    width: 100px;
    outline: 0;
    border: 0;
    cursor: pointer;
  }
}

.ImagePreview {
  margin: 20px auto;
  position: relative;
  display: block;
  width: 500px;
  overflow: hidden;

  img {
    display: block;
  }

  .BoundingBox {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}

.Error {
  margin: 7px 0;
  color: #f10808;
  font-size: 0.8rem;
  font-weight: 600;
  font-style: italic;
}
